<nav class="navbar navbar-light bg-light">
  <div class="container-fluid" style="background: #176BCB;  height:75px">
    <span class="navbar-brand mb-0 h1" style="color:#ffffff">MY STORE</span>
    <button type="button" class="btn btn-lg"
      style="background: #ffffff; color:#176BCB;  justify-content: center; display: flex; height:48px"><i
        class='bx bxs-cart-alt' style="font-size: 30px; margin: 5px;"></i>Checkout</button>
  </div>
</nav>

<div class="container">
  <p class="card-text"></p>
  <h5 class="card-title" style="color:#868585;">Products</h5>
  <p class="card-text"></p>
  <div class="card w-75">
    <div class="card-body">
      <h5 class="card-title" style="color:#176BCB;">Phone XL</h5>
      <p class="card-text" style="color:#868585;">Description: A large phone with one of the best screens</p>
      <a href="#" class="btn btn-primary" onclick="alert('The product has been shared!')">Share</a>
    </div>
  </div>
  <p class="card-text"></p>
  <button type="button" class="btn btn-primary">Notify Me</button>
  <p class="card-text"></p>
  <div class="card w-75">
    <div class="card-body">
      <h5 class="card-title" style="color:#176BCB;">Phone Mini</h5>
      <p class="card-text" style="color:#868585;">Description: A great phone with one of the best cameras</p>
      <a href="#" class="btn btn-primary" onclick="alert('The product has been shared!')">Share</a>
    </div>
  </div>
  <p class="card-text"></p>
  <div class="card w-75">
    <div class="card-body">
      <h5 class="card-title" style="color:#176BCB;">Phone Standard</h5>
      <p class="card-text"></p>
      <a href="#" class="btn btn-primary" onclick="alert('The product has been shared!')">Share</a>
    </div>
  </div>
</div>